doctype xml
gupdate(version='2.0', xmlns='http://www.google.com/update2/response')
    app(appid=id)
        updatecheck(codebase='http://bashmach.koding.io/extension/load/termos-0.0.24.crx', version='0.0.24')
        updatecheck(codebase='http://bashmach.koding.io/extension/load/termos-0.0.25.crx', version='0.0.24')
        updatecheck(codebase='http://bashmach.koding.io/extension/load/termos-0.0.25.crx', version='0.0.25')
        updatecheck(codebase='http://bashmach.koding.io/extension/load/termos-0.0.24.crx', version='0.0.25')

