extends layout

block content
  h1 Learn about the pitfalls of the legal documents <br/>on your favorite websites
  p.lead All you need is download our extension from Chrome Web Store. The rest you will see for yourself.
  hr
  .row
    .col-sm-12
      p.text-center
        a.btn.btn-success(href=storeUrl, role='button', target='_blank') Download from Chrome Web Store »