extends ../layout

block content
  h2 API Examples
  hr

  .row
    .col-sm-4
      .panel.panel-default(style='background-color: #3da8e5')
        .panel-body
          img(src='http://i.imgur.com/w3s2RvW.png', height=40)
          a(href='/api/stripe', style='color: #fff')  Stripe
    .col-sm-4
      .panel.panel-default(style='background-color: #ff6500')
        .panel-body
          img(src='http://i.imgur.com/RGCVvyR.png', height=40)
          a(href='/api/scraping', style='color: #fff')  Web Scraping